<h1>Welcome</h1>

<%= form_with method: :get do |form| %>
  <%= form.label :zip_code, "Zip code:" %>
  <%= form.number_field :zip_code %>

  <%= form.label :country_code, (link_to "Country code:", "https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes", target: "_blank") %>
  <%= form.text_field :country_code %>

  <%= form.submit "Submit" %>
<% end %>

<div id="weather-container">
  <% if defined?(@weather_data) %>
    <h2>Weather for <%= @weather_data["name"] %></h2>
    <p>Temperature: <%= @weather_data["main"]["temp"] %>°C</p>
    <p>Feels like: <%= @weather_data["main"]["feels_like"] %>°C</p>
    <p>Humidity: <%= @weather_data["main"]["humidity"] %>%</p>
    <p>Wind speed: <%= @weather_data["wind"]["speed"] %> km/h</p>
  <% end %>
</div>