<h1>Welcome</h1>

<%= form_with url: weather_current_weather_path, method: :get do |form| %>
  <%= form.label :zip_code, "Zip code:" %>
  <%= form.number_field :zip_code %>

  <%= form.label :country_code, (link_to "Country code:", "https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes", target: "_blank") %>
  <%= form.text_field :country_code %>

  <%= form.submit "Submit" %>
<% end %>